body {
    position: relative;
    background-color: #FFFFFF;
    font-size: 13px;
    font-family: Arial, sans-serif; /* Рубленый шрифт */
   }
   .letter {
    color: red;
    font-size: 150%;
    font-family: serif;
    position: relative;
    top: 5px;
   }
   .header {
   height: 20px;
   background-color: yellow;

}
div.l_red{
  color: red;

}
div.title{
  display: flex;
  position:absolute;
  padding: 10px;
  background-color: #EAEAEA;
  color:  black;
  width: 100%;
	font-size: 25px;
  font-family: serif;
	padding-top: 10px;
  padding-bottom: 40px;
  position:relative;
}
article
{

  background-color:#C8FC98;
  width:200px;
  float: left;
  padding-left:10px;
}
aside {
   margin-left: 220px;

}

div.f_title{
display: flex;
margin:auto;
position:absolute;

padding: 10px;
  background-color:black;
  color:yellow;
  width: 100%;
	font-size: 10px;
  font-family: Georgia,serif;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
padding: 10px;
position:relative;
}
