body {

    background-color: #FFFFFF;
    font-size: 13px;
    font-family: Arial, sans-serif;

   }

div.text_t{
  position: relative;
max-width: 100%;
width: 200px;
height:150px;
float:left;
  visibility: visible;
  background-color: aquamarine;
  color: #000000;
margin: 20px;
}
div.Clear_Box
{
clear: left;
background-color:bisque;
}
